     body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #000000;
            color: #F5D31B;
        }

        header {
            padding: 40px;
        }

        nav a {
            display: inline-block;
            margin: 15px;
            padding: 10px 20px;
            background-color: #333;
            color: white;
            text-decoration: none;
            border-radius: 8px;
        }

        nav a:hover {
            background-color: #555;
        }

        
       .img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }
